:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary: #493DF5;
  --secondary: #151F32;
  --secondary-text: #5B6270;
  --side-menu-active-item-background: #353D4E;
  --border-color: #D0D2D6;
  --chart-text-color: #2B22B5;
  --chart-background: #E8E9EB;
  --header-menu-active-background: #F3F4F5;
}
